<html>
    <head>
        <title>File upload</title>
    </head>
    <body>
        <h1>File upload</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <input type="submit" value="Upload">
        </form>
        <br>
        <p>Or using curl:<br>
            <pre><code id="curl">Loading curl command...</code></pre>
        </p>
        <script>
            const host = window.location.host;
            const protocol = window.location.protocol;
            const curl = `curl -X POST -F "file=@/path/to/your/file.txt" ${protocol}//${host}/upload`;
            document.getElementById('curl').textContent = curl;
        </script>
    </body>
</html>
